<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>

    <!-- Default Credentials-->
    <add key="username" value="username"/>
    <add key="password" value="Cf82@22!"/>
    <add key="appurl" value="https://www.zoho.com/"/>

    <!--Paths-->
    <add key="chromeDrivePath" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\Drivers\\chromedriver.exe"/>
    <add key="MSEdgeDriverPath" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\Drivers\\msedgedriver.exe"/>
    <add key="GeckoDriverPAth" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\Drivers\\geckodriver.exe"/>
    <add key="xlsPath" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\Data.xls"/>
    <add key="extentConfigPath" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\extent-config.xml"/>
    <add key="reportFolder" value="C:\\Users\\amand\\source\\repos\\CSharpcode\\DataDrivenProject\\DataDrivenProject\\Reports"/>

    <!--Links-->
    <add key="login_Xpath" value="//div[@class='signing']/a[3]"/>
    <add key="profile_Xpath" value="//*[@id='portfolio']/div[1]/div[2]"/>

    <add key="crmLink_Xpath" value="//*[@id='zl-myapps']/div[1]/div[2]/div/a/div"/>
    <add key="leadsTab_Xpath" value="//*[@id='tab_Leads']"/>
    <add key="createNew_Xpath" value="//*[@id='createNew']"/>
    <add key="leadSubmenu_Xpath" value="//*[@id='submenu_Leads']"/>


    <!--TextField-->
    <add key="username_Xpath" value="//*[@id='lid']"/>
    <add key="password_Xpath" value="//*[@id='pwd']"/>
    <add key="leadCompany_Xpath" value="//*[@id='Crm_Leads_COMPANY']"/>
    <add key="leadLastName_Xpath" value="//*[@id='Crm_Leads_LASTNAME']"/>

    <!--Button-->
    <add key="signInButton_Xpath" value="//*[@id='signin_submit']"/>
    <add key="leadSaveBtn_Xpath" value="//*[@id='saveLeadsBtn']"/>
    <add key="accessZohoCRM_Xpath" value="//a[@class='signup-btn mobile-btn']"/>
    <add key="convertLeadBtn_Xpath" value="//*[@id='fixedBtn']/input[2]"/>
    <add key="convertButton_Xpath" value="//*[@id='save']"/>

    <add key="deleteButton_Xpath" value="//*[@id='deleteButton']"/>
    <add key="savePotentialButton_Xpath" value="//*[@id='savePotentialsBtn']"/>

  </appSettings>
</configuration>
